body{
	background-color: gray;
}
.flex-box{
	display: flex;
	height: 400px;
	width: 450px;
	flex-direction: column;
	margin-left: 420px;
	margin-top: 50px;
}
.flex-box > div{
	background-color: transparent;
}

	#about {
    margin-left: -21px;
    padding: 32px;
    color: rgb(131,145,146);
}
	img{
		border-radius:50%;
		height: 100px;
		width: 100px;
		margin-left: 170px;
		margin-top: 50px;
	}

	i{
		margin-left:7px;
}

.down{
		margin-left: 140px;
}
.flex-box > div:hover{
	background-color:#EBDEF0;
	color:red;
}
