
div{
	background-color: pink;
	padding: 32px;

}
#root1{
	border-radius: 30px 200px;
	border: solid;
	text-align: center;
	height: 0px;
	width: 230px;
}
#root2{
	border-radius: 30px 200px;
	border: solid;
	text-align: center;
	height: 0px;
	width: 230px;
	margin-left: 381px;
	position: absolute;
	top:0;
	margin-top: 48px; 

}
#root3{
		border-radius: 30px 200px;
		border: solid;
		text-align: center;
		height: 0px;
		width: 230px;
		margin-left: 381px;
		top:0;
		margin-top: 80px; 

	}
#root4{
	border-radius: 30px 200px;
	border: solid;
	text-align: center;
	height:0px;
	width: 230px;
	margin-right:481px;
	margin-top:-72px;
}