body{
	background-color:yellow;
}
img{
	height:100px;
	width: 100px;
}
.img1{
	margin-top:160px;
	margin-left:100px;
	width:250px;
	position:absolute;
}
.img2{
	margin-top:160px;
	margin-left:390px;
	width:250px;
	z-index:1;
	position:absolute;
}
.img3{
	margin-top:180px;
	margin-left:780px;
	width:250px;
	z-index:3;
	position:absolute;
}
.img4{
	margin-top:370px;
	margin-left:367px;
	z-index:4;
	width: 250px;
	position:absolute;
}
	.img5{
		margin-top:380px;
		margin-left:780px;
		width:250px;
		z-index:5;
		position:absolute;
	}
	.img6{
		margin-top:370px;
		margin-left:60px;
		width:250px;
		z-index:0;
		position:absolute;
	}
	.process{
		margin-top:500px;
		background-color: red;
		text-align: center;
	}
	a.hover{
		background-color: pink: 
	}
