body{
	background-color:yellow;

}
#style{
	text-align: center;
	color: pink;
}
.align{
	
}font-style: italic;
	color:blue;
#center{
font-style: italic;	
color:red;
}
#right{
	padding-left: 70%;
}
.move{
	text-align: center;
	margin-top: 140px;
}
#us{
	text-decoration: none;
}
#tab{
	color:yellow;
}

.fafa-goggle-plus{
 text-decoration: none;
}