body{
	background-color:orange;

}
#align{
	text-align: center;
	color: red;
}
#color{
	font-style: italic;
	color:blue;
}
#font{
color:red;
}
#right{
	padding-left: 70%;
}
.move{
	text-align: center;
}